* {
	box-sizing: border-box;
}

.row {
	max-width: 1000px;
	margin:0 auto;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.row::before,
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.col-4 {
	float: left;
	padding-left: 1.04166666%;
  	padding-right: 1.04166666%;
  	width: 33%;
}

/*@media only screen and (max-width: 640px) {
	.col-4 {
		width: 100%;
		padding-left: 10px;
		Padding-right: 10px;
	} 
}

@media only screen and (min-width: 640px) {
	.col-4 {
		width: 33%;
	}

}*/

